*{
    width:auto;
    height:auto;
}
body{
    background-image: url("life-digital-design-graphic-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    width:400px;
    height:500px;
    background-image:url("lion-colorful-digital-art-animals-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:auto;
    border-radius: 10px;
}

#input-value{
     position:relative;
    margin:auto;
    top:8px;
      height:40px;
    width:230px;
    overflow:auto;
   
}
button{
    height:60px;
    width:65px;
    background-color: grey;
    border-width:5px;
    border-style:solid;
    font-family:impact;
    font-size:20px;
}

#input{
    position:relative;
    background-color: white;
    margin:auto;
    top:40px;
   width:230px;
   height:40px;
   border-style: inset;
   border-color: grey;
   border-width:2px;
}
#keyboard{
    position:relative;
    margin-left:60px;
    top:80px;
    width:300px;
}
